In [1]:
import pandas as pd
d1 = pd.read_csv("C:\\Users\\raja.a.muthuraman\\Documents\\sample.csv")
d1

   Maths   Physics
0      92       98
1      56       68
2      88       81
3      70       80
4      80       83
5      49       52
6      65       66
7      35       30
8      66       68
9      67       73

In [2]:
features = ["Maths "]
response = ["Physics"]
X=d1[features]
y=d1[response]

In [3]:
#Dividing data in test and train
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

#Importing neccesary packages
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [4]:
y_train

   Physics
9       73
1       68
6       66
7       30
3       80
0       98
5       52

In [5]:
y_test

   Physics
2       81
8       68
4       83

In [6]:
from sklearn.preprocessing import MinMaxScaler
# define min max scaler
sc_X = MinMaxScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)
sc_y = MinMaxScaler()
y_train = sc_y.fit_transform(y_train)
y_test = sc_X.transform(y_test)

In [7]:
print('X_train')
print(X_train)
print('**********')
print('y_train')
print(y_train)
print('**********')
print('X_test')
print(X_test)
print('**********')
print('y_test')
print(y_test)

X_train
[[0.56140351]
 [0.36842105]
 [0.52631579]
 [0.        ]
 [0.61403509]
 [1.        ]
 [0.24561404]]
**********
y_train
[[0.63235294]
 [0.55882353]
 [0.52941176]
 [0.        ]
 [0.73529412]
 [1.        ]
 [0.32352941]]
**********
X_test
[[0.92982456]
 [0.54385965]
 [0.78947368]]
**********
y_test
[[0.80701754]
 [0.57894737]
 [0.84210526]]

In [8]:
#using sklearn method
from sklearn import linear_model
reg = linear_model.LinearRegression()
reg.fit(X_train,y_train)
print(reg.coef_)
print(reg.intercept_)

[[0.97577183]]
[0.07770826]

In [9]:
y_pred = reg.predict(X_train)

In [10]:
y_train

array([[0.63235294],
       [0.55882353],
       [0.52941176],
       [0.        ],
       [0.73529412],
       [1.        ],
       [0.32352941]])

In [11]:
y_pred

array([[0.62550999],
       [0.43720314],
       [0.59127238],
       [0.07770826],
       [0.6768664 ],
       [1.05348009],
       [0.31737151]])

In [12]:
sc_y.inverse_transform(y_train)

array([[73.],
       [68.],
       [66.],
       [30.],
       [80.],
       [98.],
       [52.]])

In [13]:
sc_y.inverse_transform(y_pred)

array([[ 72.53467909],
       [ 59.72981366],
       [ 70.20652174],
       [ 35.28416149],
       [ 76.02691511],
       [101.63664596],
       [ 51.58126294]])

In [14]:
from sklearn.metrics import mean_squared_error,r2_score
print('MSE: %.2f' % mean_squared_error(y_train, y_pred))
print('R^2: %.2f' % r2_score(y_train, y_pred))

MSE: 0.00
R^2: 0.95

In [15]:
print('MSE: %.2f' % mean_squared_error(sc_X.inverse_transform(y_train), sc_X.inverse_transform(y_pred)))
print('R^2: %.2f' % r2_score(sc_X.inverse_transform(y_train), sc_X.inverse_transform(y_pred)))

MSE: 14.40
R^2: 0.95

In [16]:
test_predict = reg.predict(X_test)
test_predict

array([[0.98500487],
       [0.60839118],
       [0.84805444]])

In [17]:
test_actual = y_test
test_actual

array([[0.80701754],
       [0.57894737],
       [0.84210526]])

In [18]:
print('MSE: %.2f' % mean_squared_error(test_actual, test_predict))
print('R^2: %.2f' % r2_score(test_actual, test_predict))

MSE: 0.01
R^2: 0.20

In [19]:
print('MSE: %.2f' % mean_squared_error(sc_X.inverse_transform(test_actual), sc_X.inverse_transform(test_predict)))
print('R^2: %.2f' % r2_score(sc_X.inverse_transform(test_actual), sc_X.inverse_transform(test_predict)))

MSE: 35.29
R^2: 0.20

In [20]:
# for inverse transformation
inversed_test_actual = sc_X.inverse_transform(test_actual)
print(inversed_test_actual)
inversed_test_predict = sc_X.inverse_transform(test_predict)
print(inversed_test_predict)

[[81.]
 [68.]
 [83.]]
[[91.14527768]
 [69.67829741]
 [83.33910303]]